{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Rekistöröityminen</h3>
  <div class="form-group">
    <label for="email">Sähköposti</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Sähköposti"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Nimi</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Laita eka nimesi"
    />
  </div>
  <div class="form-group">
    <label for="password1">Salasana</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Kirjoita Salasana"
    />
  </div>
  <div class="form-group">
    <label for="password2">Salasana Vahvistus</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Vahvista Salasana"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Lähetä</button>
</form>
{% endblock %}
